# Verification Drawer Recipe

![](../../.gitbook/assets/side-drawer-verification-onload%20%281%29.png)

{% tabs %}
{% tab title="Usage" %}
### Usage

The verification drawer is used to quikcly verify
{% endtab %}

{% tab title="Requirements" %}
### Requirements

* Yes, is selected on load for the radial selection
* Save button is clicked, Trim Table status for this task becomes complete.
* Discard button is clicked, no changes take place
{% endtab %}

{% tab title="States" %}
### States

#### On-Load

![](../../.gitbook/assets/side-drawer-verification-onload.png)

### Completed

![](../../.gitbook/assets/side-drawer-upload-verification-active.png)
{% endtab %}
{% endtabs %}





|  |
| :--- |
|  |
|  |

